{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set lodging_info = lodging_info or forms['lodging_info'] %}
{%- set is_prereg = c.PAGE_PATH in ['/preregistration/lodging_info'] -%}

{# BLOCK NAMES in this form:
      dates
      rates
      roommates
  Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

{% block dates %}
<hr>
<h3>Lodging</h3>
{{ macros.popup_link("../static_views/roomTypes.html",'About Room Types') }}
<!-- Disabled outside of admin_area and is_prereg -->
<div class="row g-sm-3 mb-3">
  <div>
    {{ lodging_info.room_type(id="room_type",disabled=not admin_area and not is_prereg) }}
  </div>
</div>
{% if is_prereg %}
{{ form_macros.lodging_card_select(lodging_info.room_type,
  attendee.available_room_types, disabled_opts=[],
  target_field_id="room_type", help_text="First price is single-occupancy rate, second price is double-occupancy rate. Nightly and per-person") }}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#room_type').hide();
    });
  </script>
{% endif %}
{% if not admin_area %}
<div class="alert alert-danger" role="alert">
  Lodging information is for our understanding of your availablity on site during the event. This is not a booking confirmation, and your in and out dates can be approximate.<br>
  <b>Booking for lodging is not available through the registration system. Please visit the room block booking link through Hilton's website, available on the event discord.</b><br>
</div>
{% endif %}
<div class="alert alert-info" role="alert">
  Check-in Earliest: <b>{{ c.CHECK_IN_EARLIEST|date }}</b><br>
  Setup: <b>{{ c.SETUP_START|date }}</b><br>
  Broadcast: <b>{{ c.EVENT_START|date }}</b><br>
  Teardown: <b>{{ c.TEARDOWN_START|date }}</b><br>
  Check-out Latest: <b>{{ c.CHECK_OUT_LATEST|date }}</b><br>
</div>
<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    {{ form_macros.form_input(lodging_info.arrival_date, required=True) }}
  </div>
  <div class="col-12 col-sm-6">
    {{ form_macros.form_input(lodging_info.departure_date, required=True) }}
  </div>
</div>
{% endblock %}

<!-- {% block rates %}
<div class="row g-sm-3">
</div>
<div class="row g-sm-3">
  <div class="col-12 pt-3">{{ form_macros.toggle_checkbox(lodging_info.linens, help_text="($5/night charge applies)") }}</div>
  <div class="col-12 mt-0">{{ form_macros.toggle_checkbox(lodging_info.single_occupancy, help_text="(Single-occupancy rate applies)") }}</div>
</div>
{% endblock %} -->

{% block roommates %}
<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    {{ form_macros.form_input(lodging_info.roommate) }}
  </div>
  <div class="col-12 col-sm-6">
    {{ form_macros.form_input(lodging_info.roommate_requests, help_text="Don't have a roommate? Describe your ideal roommate(s) and we may be able to match you.") }}
  </div>
  <div class="col-12 col-sm-6">
    {{ form_macros.form_input(lodging_info.roommate_party_size, help_text="If making roommate requests, please specify the maximum number of roommates.") }}
  </div>
</div>
<hr>
{% endblock %}
