
<span class="h4 text-danger">Disclaimers</span>
<ul>
  <li>
    Attendees must abide by our
    <a href="#TODO_URL" target="_blank">code of conduct</a>.
  </li>
  <li>
    Attendees must abide by our
    <a href="#TODO_URL" target="_blank">infectious diseases safety guidelines</a>, including all immunization requirements (Latest COVID Booster, Measles, and Flu).
  </li>
  <li>
    Volunteers understand that they are present to assist with the event, and are not expected to recieve any monetary compensation for their time.
  </li>
  {% if c.CONSENT_FORM_URL %}
    <li>
      Attendees under 18 MUST bring a
      <a href="{{ c.CONSENT_FORM_URL }}" target="_blank">signed parental consent form</a>,
      which MUST be notarized if the parent is not with the minor when the
      badge is picked up. Also, all children 12 and under will need to be
      accompanied by an adult with a paid badge.
    </li>
  {% endif %}
</ul>

<script type="text/javascript">
    $(document).ready(function(){
        window.scrollTo(0,0);
    });
</script>
