
<span class="h4 text-danger">Zeldathon Volunteer Agreement</span>
<ol>
  <li>
    <b>Code of Conduct and Marathon Rules</b><br/>
    <p>I have read and understand the Zeldathon <a href="{{ c.CODE_OF_CONDUCT_URL }}" target="_blank">Code of Conduct</a> and <a href="{{ c.RULES_URL }}" target="_blank">Marathon Rules</a>. I agree to follow these policies at all times during the event. I understand that failure to do so may result in disciplinary action, including removal from the event and/or future event eligibility.</p>
  </li>
  <li>
    <b>Staff Direction</b><br/>
    <p>I agree to follow instructions from Zeldathon staff and to fulfill my volunteer responsibilities to the best of my ability.</p>
  </li>
  <li>
    <b>Behavior and Representation</b><br/>
    <p>I understand that while volunteering, I represent Zeldathon both on and off camera. I will conduct myself in a respectful, inclusive, and professional manner.</p>
  </li>
  <li>
    <b>Media Release</b><br/>
    <p>I grant Zeldathon permission to record, photograph, and livestream my participation during the event. I understand that my voice, likeness, and image may be captured and used in event broadcasts, highlight reels, promotional materials, and social media. I waive any right to inspect or approve the finished product or its use.</p>
  </li>
  <li>
    <b>Voluntary Participation</b><br />
    <p>I understand that volunteering is optional and unpaid. I am participating of my own accord and may withdraw at any time, though doing so may affect my future eligibility as a volunteer.</p>
  </li>
  <li>
    <b>Infectious Disease Policy</b><br />
    <p>I understand that Zeldathon maintains health and safety protocols to reduce the risk of infectious disease transmission, including COVID-19. I agree to comply with all event health requirements, and adherence to masking/isolation procedures if I become symptomatic or test positive during the event. I acknowledge that I am required to have received the most recently released and CDC- or FDA-approved COVID-19 booster available to my age group prior to attending the event. I understand that these protocols may be updated based on conditions at the time of the event, and that noncompliance may result in removal from event areas. The following protocol can be visited <a href="{{c.VIRUS_SAFETY_URL}}" target="_blank">at this link</a></p>
  </li>
  {% if c.CONSENT_FORM_URL %}
    <li>
      Attendees under 18 MUST bring a
      <a href="{{ c.CONSENT_FORM_URL }}" target="_blank">signed parental consent form</a>,
      which MUST be notarized if the parent is not with the minor when the
      badge is picked up. Also, all children 12 and under will need to be
      accompanied by an adult with a paid badge.
    </li>
  {% endif %}
</ol>

<b>
I have read and agree to the Zeldathon Volunteer Agreement, including the Code of Conduct, Marathon Rules, and Infectious Disease Policy.
</b>
<script type="text/javascript">
    $(document).ready(function(){
        window.scrollTo(0,0);
    });
</script>
