{% extends "./preregistration/preregbase.html" %}
{% import "forms/account.html" as account_fields with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set title_text = "Registration Step 1 of 4: Personal Info" %}
{% block content %}
{% set original_location = ".." ~ c.PAGE_PATH %}
<div class="card">
  <div class="card-body">
    {% include 'forms/prereg_intro.html' %}

  {{ form_macros.form_validation('prereg-form') }}

{#- The action is set to "post_form" in order to bypass the NGINX cache. -#}
<form novalidate method="post" id="prereg-form" action="post_form" class="form-horizontal" role="form">
{% if edit_id %}
    <input type="hidden" name="edit_id" value="{{ edit_id }}" />
{% endif %}
<input type="hidden" name="is_prereg" value="True" />
{{ csrf_token() }}

{% include "forms/attendee/badge_extras.html" %}
{# hidden field to keep promo code if an attendee clicked the group invite link #}
<input type="hidden" name="promo_code_code" value="{{ promo_code_code }}" />

{% include "forms/attendee/personal_info.html" %}
{% include "forms/attendee/consents.html" %}

  {# Deprecated forms included for backwards compatibility with old plugins #}
  {% include "regform.html" %}

  {% if not edit_id %}
      <button type="submit" class="btn btn-primary" value="Next">Next</button>
  {% else %}
      <button type="submit" class="btn btn-primary" value="Update">Update</button>
      <button type="submit" class="btn btn-primary" name="go_to_cart" value="1">Update & Go to Cart</button>
  {% endif %}

  {% if edit_id or cart_not_empty %}
  <a href="index" class="btn btn-outline-secondary" value="Cancel">Cancel</a>
  {% endif %}

</form>
</div>
</div>
<div class="text-center"><em class="badge bg-dark fw-normal">Please note: your badge and any upgrades are not reserved until you complete the registration process{% if not c.AT_THE_CON %}, including payment{% endif %}.</em></div>
{% if cart_not_empty %}{{ "js/warn-before-logout.js"|serve_static_content }}{% endif %}
{% endblock %}
