{% extends "./preregistration/preregbase.html" %}
{% import 'forms/macros.html' as form_macros with context %}
{% set title_text = "Registration Step 2 of 5: Lodging Info" %}
{% block content %}
{% if not editing %}
{% include 'preregistration/disclaimer_popup.html' %}
{% endif %}
<div class="card">
  <div class="card-body">
    {{ macros.prereg_wizard(c.PAGE_PATH) }}

    {{ form_macros.form_validation('prereg-form', form_list=['LodgingInfo']) }}

    <form novalidate method="post" id="prereg-form" action="lodging_info" class="form-horizontal" role="form">
      <input type="hidden" name="is_prereg" value="True" />
      <input type="hidden" name="attendee_id" value="{{ attendee.id }}" />
      {{ csrf_token() }}
      {% include "forms/attendee/lodging_info.html" %}
      &nbsp;
      {% if editing %}
      <button type="submit" class="btn btn-primary mt-3" value="Update">Update</button>
      {% else %}
      <button type="submit" class="btn btn-primary mt-3" value="Next">Next</button>
      {% endif %}
    </form>
  </div>
</div>
<div class="text-center"><em class="badge bg-info fw-normal">Please note: Lodging is subject to {{c.LODGING_TAX_RATE}}% sales tax not reflected in the rates above.</em></div>
<div class="text-center"><em class="badge bg-dark fw-normal">Please note: your badge and any upgrades are not reserved until you complete the registration process{% if not c.AT_THE_CON %}, including payment{% endif %}.</em></div>
{{ "js/warn-before-logout.js"|serve_static_content }}
{% endblock %}
