<html>
<head>
    <title> Explanation of Room Types </title>
</head>
<body>

<h3 align="center"> Rooms </h3>

No Lodging Needed - You have opted out of staying on site.

<br/> <br/>

Douglass House - This is the closest building to the event site. It is a dormatory-style room with private shower and bath, mini fridge, microwave, and a small desk. Rooms 2.

<br/> <br/>

10 West - This is an apartment-style room with a shower and bath that is shared with 1 other room, some rooms have an attached kitchenette, some have a full kitchen with washer and dryer. Rooms 2, 4 total. 

</body>
</html>
