{% extends 'signup_base.html' %}
{% block title %}Volunteer Agreement{% endblock %}

{% block content %}

<h1>Volunteer Agreement</h1>

<p>
This Volunteer Agreement (the "Agreement") is entered into by and between Overproduced, LLC. (the "Company"),
and {{ attendee.full_name }} ("Volunteer"), and is effective as of {{ now()|datetime("%m/%d, %Y") }} (the "Effective Date").
</p>

<p>
In consideration of the mutual promises contained herein and other good and sufficient consideration, the receipt and
adequacy of which is hereby acknowledged, the parties hereby agree as follows:
</p>

<p><b>Services.</b>
Volunteer agrees that he/she will provide the following services, ("Services"), to the Company:<br/>
(a) attend the Company's event ("{{ c.EVENT_NAME }}") Volunteer training;<br/>
(b) assist the Company in hosting {{ c.EVENT_NAME }};<br/>
(c) preparation and teardown of the {{ c.EVENT_NAME }} venue; and<br/>
(d) any other tasks requested by the Company.<br/>
<br/>
Volunteer agrees that he/she would like to provide the Services without compensation
and wishes to contribute his/her time.  All costs and expenses incurred by Volunteer
in providing the Services shall be the responsibility of Volunteer,
unless approved in advance by the Company. </p>

<p>
<b>Event Policies.</b>
Volunteer agrees to comply with all event policies and procedures, including:
<ul>
    <li><a href="/static/codeofconduct.pdf">Event Code of Conduct</a></li>
    <li><a href="/static/rules.pdf">Event Rules</a></li>
    <li><a href="/static/virus_safety.pdf">Event Virus Safety Policy</a></li>
</ul>
</p>

<p>
<b>Term.</b>
Volunteer's Services will commence on the Effective Date and will remain in effect until {{ agreement_end_date|datetime("%m/%d/%Y") }} unless
earlier terminated by the Company, for any reason or no reason, effective immediately upon written notice to Volunteer.
</p>
<p>
<b>Acknowledgement.</b>
Volunteer acknowledges and agrees that:<br/>
(a) the Services will be performed faithfully and to the best of his/her ability;<br/>
(b) the Services will be performed in compliance with all applicable laws and regulations;<br/>
(c) neither the Services nor the Work Product will infringe the rights of any third party or violate any law; and<br/>
(d) Volunteer has full power and authority to enter into this Agreement and to provide the Services in accordance with this Agreement.
The Company acknowledges and agrees that it has full power and authority to enter into this Agreement.
</p>

{% if not attendee.agreed_to_volunteer_agreement %}
    <form method="post" action="volunteer_agreement">
        {{ csrf_token() }}
        <label for="agreed_to_terms">
          I agree to the terms of the volunteer agreement: <input type="checkbox" id="agreed_to_terms" name="agreed_to_terms" />
        </label>
        <br><br>
        <input class="btn btn-primary" type="submit" value="Save" />
    </form>
{% else %}
    <p>You have accepted the terms of this agreement already.</p>
{% endif %}

{% endblock %}
